<% if usr_signed_in?%>
<h1 class="h-30 p-2 text-bg-dark rounded-2">Friend List</h1>
<table class="table table-dark table-striped table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @friends.each do |friend| %>
    <% if friend.usr == current_usr %>
    <tr>
      <td>
        <%= link_to friend.first_name + " " + friend.last_name, friend %>
      </td>
      <td><%= link_to "Show this friend", friend, class:"btn btn-light" %>
      </td>
    </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
<div>
  <%= link_to "Add new friend!", new_friend_path, class:"btn btn-dark" %>
</div>
<% else %>
<h1>Hello World</h1>
<p>This is my first Rails Webpage...</p>
<% end %>